@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "Open Sans Light";
  src: url("../../fonts/OpenSans-Light.ttf"); }

@font-face {
  font-family: "Open Sans Bold";
  src: url("../../fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "Open Sans Italic";
  src: url("../../fonts/OpenSans-Italic.ttf"); }

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../../fonts/OpenSans-Semibold.ttf"); }

@font-face {
  font-family: "Recetrac Bold";
  src: url("../../fonts/BARAKB.TTF"); }

#sliderFirst {
  background: url("../../img/slider_navigation_bg.png") repeat-x top;
  height: 785px;
  padding: 0; }
  #sliderFirst .container {
    padding: 0; }
    #sliderFirst .container ul.socialLinks {
      margin: 0 auto;
      list-style: none;
      text-align: center;
      background: #98b1da;
      width: 130px; }
      #sliderFirst .container ul.socialLinks li {
        padding: 10px 2px;
        margin: 0; }
    #sliderFirst .container .topBanner {
      background: url("../../img/banner_temp.png") center top no-repeat;
      height: 665px; }
      #sliderFirst .container .topBanner .sliderPopups {
        height: 280px; }
      #sliderFirst .container .topBanner .getStartedButton {
        text-align: center; }
        #sliderFirst .container .topBanner .getStartedButton a {
          color: #ffffff;
          font-size: 228.57143%;
          font-family: "Open Sans Light";
          font-weight: normal;
          padding: 20px 100px; }
      #sliderFirst .container .topBanner h1 {
        color: #ffffff;
        text-align: center;
        font-size: 342.85714%;
        font-family: "Open Sans Light";
        padding: 30px 0 30px 0;
        font-weight: normal; }
      #sliderFirst .container .topBanner .topBannerLinks {
        text-align: center; }
        #sliderFirst .container .topBanner .topBannerLinks .box {
          cursor: pointer;
          padding: 0; }
          #sliderFirst .container .topBanner .topBannerLinks .box:hover .round_image {
            background: #6699ff; }
          #sliderFirst .container .topBanner .topBannerLinks .box .round_image {
            margin: 0 auto;
            padding: 40px;
            background: url("../../img/bg-blue-transparent.png") repeat;
            border-radius: 80px;
            width: 65%; }
            #sliderFirst .container .topBanner .topBannerLinks .box .round_image img {
              width: 80px; }
          #sliderFirst .container .topBanner .topBannerLinks .box p {
            color: #ffffff;
            padding: 20px 5px;
            font-size: 228.57143%;
            font-family: "Open Sans Light"; }

#sliderSecond {
  position: relative; }
  #sliderSecond .sliderSecondInner div ul.secondSidebarMenu {
    list-style: none; }
    #sliderSecond .sliderSecondInner div ul.secondSidebarMenu li {
      padding: 0;
      background: #ffffff;
      line-height: 120%; }
      #sliderSecond .sliderSecondInner div ul.secondSidebarMenu li a {
        width: 100%;
        height: 100%;
        display: block;
        padding: 15px 5px 15px 60px;
        font-family: "Open Sans Light";
        font-size: 152.38095%;
        color: #6699ff;
        text-decoration: none;
        line-height: 100%; }
    #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .mobile {
      background: white url("../../img/icon_s_1_45.png") left center no-repeat; }
      #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .mobile:hover, #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .mobile.active {
        background: #6699ff url("../../img/service1_25x25.png") left center no-repeat; }
        #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .mobile:hover a, #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .mobile.active a {
          color: #ffffff; }
    #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .staf {
      background: white url("../../img/icon_s_2_45.png") left center no-repeat; }
      #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .staf:hover, #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .staf.active {
        background: #6699ff url("../../img/service2_25x25.png") left center no-repeat; }
        #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .staf:hover a, #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .staf.active a {
          color: #ffffff; }
    #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .app {
      background: white url("../../img/icon_s_3_45.png") left center no-repeat; }
      #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .app:hover, #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .app.active {
        background: #6699ff url("../../img/service3_25x25.png") left center no-repeat; }
        #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .app:hover a, #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .app.active a {
          color: #ffffff; }
    #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .design {
      background: white url("../../img/icon_s_4_45.png") left center no-repeat; }
      #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .design:hover, #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .design.active {
        background: #6699ff url("../../img/service4_25x25.png") left center no-repeat; }
        #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .design:hover a, #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .design.active a {
          color: #ffffff; }
    #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .marketing {
      background: white url("../../img/icon_s_5_45.png") left center no-repeat; }
      #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .marketing:hover {
        background: #6699ff url("../../img/service5_25x25.png") left center no-repeat; }
        #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .marketing:hover a {
          color: #ffffff; }
  #sliderSecond .sliderSecondInner .phoneBG {
    background: white url("../../img/phone_bg.png") right center no-repeat;
    background-size: contain; }

#sliderThird {
  background: #2f3738;
  position: relative;
  text-align: center; }
  #sliderThird img {
    width: 100%;
    max-width: 1366px; }
  #sliderThird .news_line {
    background: url("../../img/bg-black-transparent.png") repeat;
    padding: 20px 0;
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: justify; }
    #sliderThird .news_line p {
      padding: 10px 0;
      text-align: justify;
      color: #ffffff; }
    #sliderThird .news_line ul {
      padding: 0; }
      #sliderThird .news_line ul li {
        list-style: url("../../img/marker.png"); }
        #sliderThird .news_line ul li h3 {
          font: 133.33333% bold "Open Sans Bold";
          color: #ffffff; }
        #sliderThird .news_line ul li footer {
          color: #ffffff;
          font: 133.33333% normal "Open Sans Light"; }

#sliderFourth {
  background: url("../../img/gray_equals.png") bottom repeat-x;
  margin-bottom: 10px; }
  #sliderFourth section {
    padding: 0 0 50px 0; }

#sliderFifth {
  background: url("../../img/swan-bg.png") top center no-repeat; }
