@import "constants";

* {
  margin: 0;
  padding: 0;
}

hgroup, article,
nav, aside,
section {
  display: block;
}

body {
  width: 100%;
  font-size:  getSize(12);
  font-family: $default_font;
}

.container {
  max-width: 970px;

  &.sec {
    padding: 50px 0;
  }
}

//.row {
//  margin: 0;
//}

@import "header";


hgroup {
  line-height: 100%;
  padding: 0 0 50px 0;
  display: block;
}

h1 {
  color: $gray;
  font-weight: normal;
  font-size:  getSize(36);
  margin: 0;
  padding: 0;
  font-family: $default_font;
}

h2 {
  @extend h1;
  font-size:  getSize(24);
  font-family: $default_font;
}

a.blue_btn {
  color: #ffffff;
  font-size: getSize(20);
  font-family: $default_font;
  background: $blue_soft;
  font-weight: bold;
  padding: 15px 30px;
  margin: 30px auto;
  text-decoration: none;
  display: block;
  width: 300px;
  text-align: center;

  &:hover {
    background: $blue;
  }

  &.small {
    margin: 0 auto;
    width: 200px;
    padding: 7px 20px;
    font-size: getSize(18);

  }
}

blockquote {
  border: none;
  padding: 0px 0 0 50px;
  margin: 50px 0;
  background: url("../../img/quotes.png") left top no-repeat;

  p {
    padding: 10px 0;
    margin: 0;
  }

  h3 {
    color: $gray;
    font-weight: normal;
    font-size:  getSize(24);
    font-family: $default_font;
  }
}

p {
  display: block;
  color: $gray;
  font: getSize(14) normal $default_font;
}

ul {
  list-style: none;

  &.vertical {
    li {
      display: block;
    }
  }

  &.horizontal {
    li {
      display: inline-block;
    }
  }
}

span.title {
  display: table;
  text-align: right;
  margin: 0 auto !important;
  float: none !important;

  a {
    font-size: getSize(16); // TODO: ???

  }
}

ul {
  margin: 0;
}

.social {
  background: url("../../img/gray_equals.png") center repeat-x;
  margin-bottom: 20px;
  text-align: center;

  ul.socialLinks {
    width: 150px;
    margin: 0 auto;

    li {
      margin: 0 2px;

    }
  }
}


.blackTransparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.reflectBelow	{
  -webkit-box-reflect: below 0
  -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}

@import "footer";

.center{
  display : table-cell;
  vertical-align : middle;
  float: none;
}