@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "Open Sans Light";
  src: url("../../fonts/OpenSans-Light.ttf"); }

@font-face {
  font-family: "Open Sans Bold";
  src: url("../../fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "Open Sans Italic";
  src: url("../../fonts/OpenSans-Italic.ttf"); }

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../../fonts/OpenSans-Semibold.ttf"); }

@font-face {
  font-family: "Recetrac Bold";
  src: url("../../fonts/BARAKB.TTF"); }

* {
  margin: 0;
  padding: 0; }

hgroup, article,
nav, aside,
section {
  display: block; }

body {
  width: 100%;
  font-size: 114.28571%;
  font-family: "Open Sans Light"; }

.container {
  max-width: 970px; }
  .container.sec {
    padding: 50px 0; }

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "Open Sans Light";
  src: url("../../fonts/OpenSans-Light.ttf"); }

@font-face {
  font-family: "Open Sans Bold";
  src: url("../../fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "Open Sans Italic";
  src: url("../../fonts/OpenSans-Italic.ttf"); }

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../../fonts/OpenSans-Semibold.ttf"); }

@font-face {
  font-family: "Recetrac Bold";
  src: url("../../fonts/BARAKB.TTF"); }

#mainHeader {
  background: #2f3738;
  padding: 25px 0 10px 0; }
  #mainHeader hgroup {
    padding: 0; }
    #mainHeader hgroup h1, #mainHeader hgroup h2 {
      color: #ffffff;
      padding: 0;
      margin: 15px 0 0 0;
      font-size: 476.19048%;
      font-family: "Recetrac Bold"; }
    #mainHeader hgroup h2 {
      padding: 0;
      margin: 0;
      color: #ffffff;
      font-size: 171.42857%;
      font-family: "Open Sans Light"; }
  #mainHeader .address {
    width: 100%; }
    #mainHeader .address ul {
      margin: 0;
      width: auto; }
      #mainHeader .address ul li.address {
        background: url("../../img/location_25x25.png") no-repeat left center; }
        #mainHeader .address ul li.address p {
          font-size: 133.33333%; }
      #mainHeader .address ul li.phone {
        background: url("../../img/cellphone_25x25.png") no-repeat left center; }
        #mainHeader .address ul li.phone p {
          font-family: "Open Sans Bold";
          font-size: 171.42857%; }
      #mainHeader .address ul li {
        list-style: none;
        padding: 5px 0 5px 35px; }
        #mainHeader .address ul li p {
          color: #ffffff;
          padding: 0;
          margin: 0;
          line-height: 120%; }
  #mainHeader ul.mainMenu {
    text-align: right;
    margin: 0; }
    #mainHeader ul.mainMenu li {
      list-style: none;
      padding: 5px 0 0 10px; }
      #mainHeader ul.mainMenu li a {
        color: #ffffff;
        font-size: 133.33333%;
        font-family: "Open Sans Light"; }

hgroup {
  line-height: 100%;
  padding: 0 0 50px 0;
  display: block; }

h1, h2 {
  color: #647678;
  font-weight: normal;
  font-size: 342.85714%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light"; }

h2 {
  font-size: 228.57143%;
  font-family: "Open Sans Light"; }

a.blue_btn {
  color: #ffffff;
  font-size: 190.47619%;
  font-family: "Open Sans Light";
  background: #98b1da;
  font-weight: bold;
  padding: 15px 30px;
  margin: 30px auto;
  text-decoration: none;
  display: block;
  width: 300px;
  text-align: center; }
  a.blue_btn:hover {
    background: #6699ff; }

blockquote {
  border: none;
  padding: 0px 0 0 50px;
  margin: 50px 0;
  background: url("../../img/quotes.png") left top no-repeat; }
  blockquote p {
    padding: 10px 0;
    margin: 0; }
  blockquote h3 {
    color: #647678;
    font-weight: normal;
    font-size: 228.57143%;
    font-family: "Open Sans Light"; }

p {
  display: block;
  color: #647678;
  font: 133.33333% normal "Open Sans Light"; }

ul {
  list-style: none; }
  ul.vertical li {
    display: block; }
  ul.horizontal li {
    display: inline-block; }

span.title {
  display: table;
  text-align: right;
  margin: 0 auto !important;
  float: none !important; }
  span.title a {
    font-size: 152.38095%; }

footer#mainFooter {
  background: #2f3738;
  padding: 50px 0;
  color: #ffffff; }
  footer#mainFooter .title {
    display: table; }
    footer#mainFooter .title h1, footer#mainFooter .title h2 {
      color: #ffffff;
      font-size: 571.42857%;
      background: url("../../img/swan_90x60.png") no-repeat left center;
      padding-left: 100px;
      float: left; }
    footer#mainFooter .title .title-item {
      overflow: hidden;
      display: table-cell !important;
      vertical-align: middle; }
      footer#mainFooter .title .title-item h2 {
        background: none;
        font-size: 228.57143%;
        padding: 0; }
  footer#mainFooter ul {
    margin: 0;
    font: 133.33333% normal "Open Sans Light"; }
    footer#mainFooter ul li {
      padding: 5px 0 0 10px;
      line-height: 100%; }
    footer#mainFooter ul.mainMenu li a {
      color: #ffffff;
      font-family: "Open Sans Light"; }
