* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light.ttf"); }

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "Open Sans Italic";
  src: url("../fonts/OpenSans-Italic.ttf"); }

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans-Semibold.ttf"); }

@font-face {
  font-family: "Recetrac Bold";
  src: url("../fonts/BARAKB.TTF"); }

body {
  width: 100%;
  font-size: 114.28571%;
  font-family: "Open Sans Light"; }
  body .container {
    max-width: 970px; }
  body hgroup {
    line-height: 100%;
    padding: 0 0 50px 0;
    display: block; }
  body h1, body h2 {
    color: #647678;
    font-weight: normal;
    font-size: 342.85714%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans Light"; }
  body h2 {
    font-size: 228.57143%;
    font-family: "Open Sans Light"; }
  body a.blue_btn {
    color: #ffffff;
    font-size: 228.57143%;
    font-family: "Open Sans Light";
    background: #6699ff;
    font-weight: normal;
    padding: 20px 100px; }
  body article {
    display: block; }
    body article p {
      display: block;
      color: #647678;
      font: 133.33333% normal "Open Sans Light"; }
    body article blockquote {
      border: none;
      padding: 0px 0 0 50px;
      margin: 50px 0;
      background: url("../img/quotes.png") left top no-repeat; }
      body article blockquote p {
        padding: 10px 0;
        margin: 0; }
      body article blockquote h3 {
        color: #647678;
        font-weight: normal;
        font-size: 228.57143%;
        font-family: "Open Sans Light"; }
  body #mainHeader {
    background: #2f3738;
    padding: 25px 0 10px 0; }
    body #mainHeader hgroup {
      display: block;
      padding: 0; }
      body #mainHeader hgroup h1, body #mainHeader hgroup h2 {
        color: #ffffff;
        padding: 0;
        margin: 15px 0 0 0;
        font-size: 476.19048%;
        font-family: "Recetrac Bold"; }
      body #mainHeader hgroup h2 {
        padding: 0;
        margin: 0;
        color: #ffffff;
        font-size: 171.42857%;
        font-family: "Open Sans Light"; }
    body #mainHeader .address {
      width: 100%; }
      body #mainHeader .address ul {
        margin: 0;
        width: auto; }
        body #mainHeader .address ul li.address {
          background: url("../img/location_25x25.png") no-repeat left center;
          font-size: 133.33333%; }
        body #mainHeader .address ul li.phone {
          background: url("../img/cellphone_25x25.png") no-repeat left center; }
          body #mainHeader .address ul li.phone p {
            font-family: "Open Sans Bold";
            font-size: 171.42857%; }
        body #mainHeader .address ul li {
          list-style: none;
          padding: 5px 0 5px 35px; }
          body #mainHeader .address ul li p {
            color: #ffffff;
            padding: 0;
            margin: 0;
            line-height: 120%; }
    body #mainHeader ul.mainMenu {
      text-align: right;
      margin: 0; }
      body #mainHeader ul.mainMenu li {
        list-style: none;
        display: inline-block;
        padding: 5px 0 0 10px; }
        body #mainHeader ul.mainMenu li a {
          color: #ffffff;
          font-size: 133.33333%;
          font-family: "Open Sans Light"; }
  body #sliderFirst {
    background: url("../img/slider_navigation_bg.png") repeat-x top;
    height: 785px; }
    body #sliderFirst ul.socialLinks {
      margin: 0 auto;
      list-style: none;
      text-align: center;
      background: #98b1da;
      width: 130px; }
      body #sliderFirst ul.socialLinks li {
        display: inline-block;
        padding: 10px 2px;
        margin: 0; }
    body #sliderFirst .topBanner {
      background: url("../img/banner_temp.png") center top no-repeat;
      height: 665px; }
      body #sliderFirst .topBanner .sliderPopups {
        height: 280px; }
      body #sliderFirst .topBanner .getStartedButton {
        text-align: center; }
        body #sliderFirst .topBanner .getStartedButton a {
          color: #ffffff;
          font-size: 228.57143%;
          font-family: "Open Sans Light";
          font-weight: normal;
          padding: 20px 100px; }
      body #sliderFirst .topBanner h1, body #sliderFirst .topBanner h2 {
        color: #ffffff;
        text-align: center;
        font-size: 342.85714%;
        font-family: "Open Sans Light";
        padding: 30px 0 30px 0;
        font-weight: normal; }
      body #sliderFirst .topBanner .topBannerLinks {
        text-align: center; }
        body #sliderFirst .topBanner .topBannerLinks .box {
          cursor: pointer;
          padding: 0; }
          body #sliderFirst .topBanner .topBannerLinks .box:hover .round_image {
            background: #6699ff; }
          body #sliderFirst .topBanner .topBannerLinks .box .round_image {
            margin: 0 auto;
            padding: 40px;
            width: auto;
            background: url("../img/bg-blue-transparent.png") repeat;
            border-radius: 80px;
            width: 65%; }
            body #sliderFirst .topBanner .topBannerLinks .box .round_image img {
              width: 80px; }
          body #sliderFirst .topBanner .topBannerLinks .box p {
            color: #ffffff;
            padding: 20px 5px;
            font-size: 228.57143%;
            font-family: "Open Sans Light"; }
  body #sliderSecond .sliderSecondInner {
    padding: 50px 0; }
    body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu {
      list-style: none; }
      body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu li {
        padding: 0;
        background: #ffffff;
        line-height: 120%; }
        body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu li a {
          width: 100%;
          height: 100%;
          display: block;
          padding: 15px 5px 15px 60px;
          font-family: "Open Sans Light";
          font-size: 152.38095%;
          color: #6699ff;
          text-decoration: none;
          line-height: 100%; }
      body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .mobile {
        background: white url("../img/icon_s_1_45.png") left center no-repeat; }
        body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .mobile:hover, body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .mobile.active {
          background: #6699ff url("../img/service1_25x25.png") left center no-repeat; }
          body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .mobile:hover a, body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .mobile.active a {
            color: #ffffff; }
      body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .staf {
        background: white url("../img/icon_s_2_45.png") left center no-repeat; }
        body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .staf:hover, body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .staf.active {
          background: #6699ff url("../img/service2_25x25.png") left center no-repeat; }
          body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .staf:hover a, body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .staf.active a {
            color: #ffffff; }
      body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .app {
        background: white url("../img/icon_s_3_45.png") left center no-repeat; }
        body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .app:hover, body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .app.active {
          background: #6699ff url("../img/service3_25x25.png") left center no-repeat; }
          body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .app:hover a, body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .app.active a {
            color: #ffffff; }
      body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .design {
        background: white url("../img/icon_s_4_45.png") left center no-repeat; }
        body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .design:hover, body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .design.active {
          background: #6699ff url("../img/service4_25x25.png") left center no-repeat; }
          body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .design:hover a, body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .design.active a {
            color: #ffffff; }
      body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .marketing {
        background: white url("../img/icon_s_5_45.png") left center no-repeat; }
        body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .marketing:hover {
          background: #6699ff url("../img/service5_25x25.png") left center no-repeat; }
          body #sliderSecond .sliderSecondInner div ul.secondSidebarMenu .marketing:hover a {
            color: #ffffff; }
    body #sliderSecond .sliderSecondInner .phoneBG {
      background: white url("../img/phone_bg.png") right center no-repeat;
      background-size: contain; }
  body #sliderThird {
    background: #2f3738;
    position: relative;
    text-align: center; }
    body #sliderThird img {
      width: 100%;
      max-width: 1366px; }
    body #sliderThird .news_line {
      background: url("../img/bg-black-transparent.png") repeat;
      color: #ffffff;
      padding: 20px 0;
      position: absolute;
      bottom: 10%;
      width: 100%;
      text-align: justify; }
      body #sliderThird .news_line p {
        padding: 10px 0;
        text-align: justify;
        font-size: 133.33333%; }
      body #sliderThird .news_line ul {
        padding: 0; }
        body #sliderThird .news_line ul li {
          list-style: url("../img/marker.png"); }
          body #sliderThird .news_line ul li h3 {
            font: 133.33333% bold "Open Sans Bold";
            color: #ffffff; }
          body #sliderThird .news_line ul li footer {
            color: #ffffff;
            font: 133.33333% normal "Open Sans Light"; }
  body #sliderFourth {
    background: #fff;
    padding: 50px; }
    body #sliderFourth h1, body #sliderFourth h2 {
      text-align: center;
      font-size: 342.85714%; }
  body #sliderFifth h1, body #sliderFifth h2 {
    text-align: center; }
  body .mainFooter {
    display: block;
    background: #2F3738;
    padding: 50px 0; }
    body .mainFooter h1, body .mainFooter h2 {
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-size: 661.80952%;
      font-family: "Open Sans Light";
      font-weight: normal; }
    body .mainFooter h2 {
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-size: 248.19048%;
      font-family: "Open Sans Light";
      font-weight: normal; }
    body .mainFooter ul.footerNav {
      list-style: none; }
      body .mainFooter ul.footerNav li {
        display: inline-block;
        padding: 10px;
        font-size: 133.33333%; }
        body .mainFooter ul.footerNav li a {
          color: cornflowerblue;
          text-decoration: none; }
    body .mainFooter ul.footerEAddresses,
    body .mainFooter ul.footerPhones,
    body .mainFooter ul.footerAddress {
      list-style: none; }
      body .mainFooter ul.footerEAddresses li,
      body .mainFooter ul.footerPhones li,
      body .mainFooter ul.footerAddress li {
        color: gray; }
        body .mainFooter ul.footerEAddresses li h3,
        body .mainFooter ul.footerPhones li h3,
        body .mainFooter ul.footerAddress li h3 {
          font-size: 100%;
          font-weight: normal;
          color: cornflowerblue; }
